#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	# Build and install gst-plugin-base beforehand
	mkdir build-base
	cd build-base && cmake ../gst-plugin-base \
		-DGST_VERSION_REQUIRED=1.20.1 \
		-DSYSROOT_INCDIR=/usr/include \
		-DSYSROOT_LIBDIR=/usr/lib \
		-DGST_PLUGINS_QTI_OSS_VERSION=1.0.0 \
		-DGST_PLUGINS_QTI_OSS_INSTALL_LIBDIR=/usr/lib/${DEB_HOST_MULTIARCH} \
		-DGST_PLUGINS_QTI_OSS_INSTALL_BINDIR=/usr/bin \
		-DGST_PLUGINS_QTI_OSS_INSTALL_INCDIR=/usr/include \
		-DGST_PLUGINS_QTI_OSS_INSTALL_CONFIG=/etc/configs
	cd build-base && $(MAKE)
	cd build-base && $(MAKE) install

	# Configure full project after gst-plugin-base is installed
	dh_auto_configure -- \
		`# common flags` \
		-DGST_VERSION_REQUIRED=1.20.1 \
		-DSYSROOT_INCDIR=/usr/include \
		-DSYSROOT_LIBDIR=/usr/lib \
		-DGST_PLUGINS_QTI_OSS_INSTALL_BINDIR=/usr/bin \
		-DGST_PLUGINS_QTI_OSS_INSTALL_LIBDIR=/usr/lib/${DEB_HOST_MULTIARCH} \
		-DGST_PLUGINS_QTI_OSS_INSTALL_INCDIR=/usr/include \
		-DGST_PLUGINS_QTI_OSS_INSTALL_CONFIG=/etc/configs \
		`# flag to resolve camx lib paths` \
		-DGST_TARGET_BOARD_PLATFORM=qcm6490 \
		`# qmmfsrc flags` \
		-DGST_PLUGINS_QTI_OSS_LICENSE=BSD \
		-DGST_PLUGINS_QTI_OSS_VERSION=1.0.0 \
		-DGST_PLUGINS_QTI_OSS_PACKAGE=gstreamer1.0-plugins-qcom-oss \
		-DGST_PLUGINS_QTI_OSS_SUMMARY="Qualcomm open-source GStreamer Plug-ins" \
		-DGST_PLUGINS_QTI_OSS_ORIGIN="http://www.qualcomm.com" \
		-DGST_IMAGE_MAX_WIDTH=5184 \
		-DGST_IMAGE_MAX_HEIGHT=3880 \
		-DGST_VIDEO_MAX_WIDTH=5184 \
		-DGST_VIDEO_MAX_HEIGHT=3880 \
		-DGST_VIDEO_MAX_FPS="120/1" \
		-DCAMERA_METADATA_VERSION="1.0" \
		-DGST_VIDEO_TYPE_SUPPORT=TRUE \
		-DEIS_MODES_ENABLE=TRUE \
		-DVHDR_MODES_ENABLE=TRUE \
		-DFEATURE_OFFLINE_IFE_SUPPORT=TRUE \
		`# test framework flags` \
		-DENABLE_VIDEO_ENCODE=TRUE \
		-DENABLE_VIDEO_DECODE=TRUE \
		-DENABLE_VIDEO_DISPLAY=TRUE \
		-DENABLE_VIDEO_ML=TRUE \
		-DENABLE_VIDEO_AUDIO=TRUE \
		`# Enable required plugins` \
		-DENABLE_GST_PLUGIN_QMMFSRC=OFF \
		-DENABLE_GST_PLUGIN_VCOMPOSER=ON \
		-DENABLE_GST_PLUGIN_BATCH=ON \
		-DENABLE_GST_PLUGIN_METAMUX=ON \
		-DENABLE_GST_PLUGIN_SOCKET=ON \
		-DENABLE_GST_PLUGIN_VSPLIT=ON \
		-DENABLE_GST_PLUGIN_VTRANSFORM=ON \
		-DENABLE_GST_PLUGIN_VOVERLAY=ON \
		-DENABLE_GST_PLUGIN_RESTRICTED_ZONE=ON \
		-DENABLE_GST_PLUGIN_RTSPBIN=ON \
		-DENABLE_GST_PLUGIN_REDISSINK=ON \
		-DENABLE_GST_PLUGIN_SMARTVENCBIN=ON \
		-DENABLE_GST_PLUGIN_CAMIMGREPROC=OFF \
		-DENABLE_GST_PLUGIN_CAMREPROC=OFF \
		-DENABLE_GST_PLUGIN_JPEGENC=OFF \
		-DENABLE_GST_PLUGIN_JPEGPACKER=OFF \
		-DENABLE_GST_PLUGIN_VIDEOTEMPLATE=ON \
		-DENABLE_GST_PLUGIN_MLACONVERTER=ON \
		-DENABLE_GST_PLUGIN_MLACLASSIFICATION=ON \
		-DENABLE_GST_PLUGIN_MLDEMUX=ON \
		-DENABLE_GST_PLUGIN_MLVCONVERTER=ON \
		-DENABLE_GST_PLUGIN_MLVCLASSIFICATION=ON \
		-DENABLE_GST_PLUGIN_MLVSUPERRESOLUTION=ON \
		-DENABLE_GST_PLUGIN_MLVDETECTION=ON \
		-DENABLE_GST_PLUGIN_MLVPOSE=ON \
		-DENABLE_GST_PLUGIN_MLVSEGMENTATION=ON \
		-DENABLE_GST_PLUGIN_MLTOOLS=ON \
		-DENABLE_GST_PLUGIN_MLTFLITE=ON \
		-DENABLE_GST_PLUGIN_MLSNPE=ON \
		-DENABLE_GST_PLUGIN_MLQNN=ON \
		-DENABLE_GST_PLUGIN_MLMETAPARSER=ON \
		-DENABLE_GST_PLUGIN_METATRANSFORM=ON \
		-DENABLE_GST_PLUGIN_OBJTRACKER=ON \
		-DENABLE_GST_PLUGIN_MLMETAEXTRACTOR=ON \
		-DENABLE_GST_PLUGIN_MLPOSTPROCESS=ON \
		-DENABLE_GST_PLUGIN_MLBIN=OFF \
		-DENABLE_GST_PLUGIN_HEXAGON=OFF \
		-DENABLE_GST_SAMPLE_APPS=OFF \
		-DENABLE_GST_PLUGIN_MSGBROKER=ON \
		-DENABLE_GST_PYTHON_EXAMPLES=ON \
		-DENABLE_GST_TEST_FRAMEWORK=ON

override_dh_auto_build:
	# build and install gst-sample-apps-utils beforehand
	$(MAKE) -C obj-${DEB_HOST_MULTIARCH}/gst-sample-apps/gst-sample-apps-utils
	$(MAKE) -C obj-${DEB_HOST_MULTIARCH}/gst-sample-apps/gst-sample-apps-utils install
	dh_auto_build
